{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        {% if template_data.movie %}
          <h2>{{ template_data.movie.name }}</h2>
          <hr />
          <p><b>Description:</b> {{ template_data.movie.description }}</p>
          <p><b>Price:</b> ${{ template_data.movie.price }}</p>

          <!-- Reviews Section -->
          <h2>Reviews</h2>
          <hr />
          <ul class="list-group">
            {% for review in template_data.reviews %}
              <li class="list-group-item pb-3 pt-3">
                <h5 class="card-title">
                  Review by {{ review.user.username }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ review.date }}
                </h6>
                <p class="card-text">{{ review.comment }}</p>

                <!-- Edit and Delete Buttons for Own Reviews -->
                {% if user.is_authenticated and user == review.user %}
                  <a class="btn btn-primary" href="{% url 'movies.edit_review' id=template_data.movie.id review_id=review.id %}">
                    Edit
                  </a>
                  <a class="btn btn-danger" href="{% url 'movies.delete_review' id=template_data.movie.id review_id=review.id %}">
                    Delete
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>

          {% if user.is_authenticated %}
          <!-- Review Form Section -->
          <div class="container mt-4">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card shadow p-3 mb-4 rounded">
                  <div class="card-body">
                    {% if edit_mode %}
                      <b class="text-start">Edit Your Comment Below:</b><br /><br />
                      <form method="POST" action="{% url 'movies.edit_review' id=template_data.movie.id review_id=template_data.review.id %}">
                        {% csrf_token %}
                        <p>
                          <label for="comment">Comment:</label>
                          <textarea name="comment" required class="form-control" id="comment">{{ template_data.review.comment }}</textarea>
                        </p>
                        <div class="text-center">
                          <button type="submit" class="btn bg-dark text-white">
                            Update Review
                          </button>
                        </div>
                      </form>
                    {% else %}
                      <b class="text-start">Create a review</b><br /><br />
                      <form method="POST" action="{% url 'movies.create_review' id=template_data.movie.id %}">
                        {% csrf_token %}
                        <p>
                          <label for="comment">Comment:</label>
                          <textarea name="comment" required class="form-control" id="comment"></textarea>
                        </p>
                        <div class="text-center">
                          <button type="submit" class="btn bg-dark text-white">
                            Add Review
                          </button>
                        </div>
                      </form>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% else %}
          <h2>Movie Not Found</h2>
          <hr />
          <p>Sorry, the movie you're looking for doesn't exist.</p>
        {% endif %}
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{{ template_data.movie.image.url }}" class="rounded img-card-400" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
